
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
  background-color: #9292f8;
  background-image: linear-gradient(45deg, #13829d, #2e3eb9, #740bb6);
  background-size: 100% 1cqi;
  color: #ffffff79!important;
  font: 400 1rem/1.5rem 'Roboto', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero-heading {
  font-size: 3.5rem !important;
  font-weight: semibold !important;
}
.hero-image{
  width: 18rem;

}