* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

/* paleta de colores */
:root {
    /* CSS HEX */
    --indigo: #58148fff;
    --teal: #0e7c7bff;
    --tropical-teal: #17bebbff;
    --twilight-indigo: #3f386bff;
    --frosted-mint: #d4f4ddff;

    /* CSS HSL */
    --indigo: hsla(273, 75%, 32%, 1);
    --teal: hsla(179, 80%, 27%, 1);
    --tropical-teal: hsla(179, 78%, 42%, 1);
    --twilight-indigo: hsla(248, 31%, 32%, 1);
    --frosted-mint: hsla(137, 59%, 89%, 1);

    --intense-cherry: #c52233ff;
    --cool-steel: #96acb7ff;
    --ruby-red: #a51c30ff;
    --twilight-indigo: #3f386bff;
    --brown-red: #a7333fff;

    /* SCSS Gradient */
    --gradient-background: linear-gradient(315deg, rgba(147, 14, 230, 1) 0%, rgba(99, 94, 235, 1) 100%);
}

/* body {
background: -webkit-linear-gradient(315deg, rgba(147, 14, 230, 1) 0%, rgba(99, 94, 235, 1) 100%);
background: -moz-linear-gradient(315deg, rgba(147, 14, 230, 1) 0%, rgba(99, 94, 235, 1) 100%);
background: linear-gradient(315deg, rgba(147, 14, 230, 1) 0%, rgba(99, 94, 235, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#930EE6", endColorstr="#635EEB", GradientType=0);
background-attachment: fixed;
background: size 100vh 100vw; 
}

.container {
background: var(--teal);
    height: 100vh;
    display:grid;
}

 img{
    width: 50px;
    height: auto;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
} */